@import "../../style/_vars";

.multiple-choice {
    .hint-pts {
      background-color: $light-gray;
      margin-bottom: 30px;
      border-radius: 8px;
      padding: 20px;
      @media (max-width:719px) {
        margin-bottom: 20px;
        padding: 15px 20px;
      }
    }
    
    .option {
        cursor: pointer;
        margin-bottom: 0;
        padding: 15px 0;
        border-bottom: 1px solid $light-gray;
        
        &:first-child {
            border-top: 1px solid $light-gray;
        }
    }
    
    .option.selected.correct,
    .option.selected.incorrect {
        cursor: default;
        & > .option-label {
            cursor: default;
        }
    }
    
    .option.disabled {
        cursor: default;
    
        & > .option-label {
            cursor: default;
        }
    }
    
    /* Измененные стили для radio-кнопок */
    .option.disabled .custom-checkbox {
        opacity: 0;
    }
    
    .option-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }
    
    /* Скрываем radio-кнопку браузера */
    .checkbox-input {
        display: none;
    }
    
    /* Стили для радио-кнопок и иконок */
    .custom-checkbox {
        display: block;
        flex-shrink: 0;
        width: 25px;
        height: 25px;
        border: 2px solid $primary;
        border-radius: 5px;
        position: relative;
    }
    
    .checkbox-input:checked + .custom-checkbox::after {
        content: '';
        position: absolute;
        border: 6px solid $primary;
        border-radius: 5px;
        top: -3px;
        bottom: auto;
        left: -3px;
        width: 28px;
        height: 28px;
    }
    
    .option-text {
        margin-left: 23px;
        flex-grow: 1;
    }
    
    /* Стили для feedback иконок */
    .feedback-icon {
        width: 25px;
        height: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        top: auto;
        bottom: auto;
    }
    
    .correct-icon, .incorrect-icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 4px;
    }
    
    .correct-icon {
        background-image: url(../img/icon/icon-correct-multiple.svg);
        background-color: rgba(41, 149, 39, 1);
        color: white;
    }

    .incorrect-icon {
        background-image: url(../img/icon/icon-incorrect-multiple.svg);
        background-color: rgba(188, 37, 58, 1);
        color: white;
        background-position-y: 1px;
    }
    
    .feedback-container {
      margin: 20px 0;
      text-align: center;
    }
    
    .feedback-image {
      max-width: 100px;
      margin-bottom: 10px;
    }
    
    .explanation {
        padding: 30px;
        color: $white;
        background-color: $primary;
        border-radius: 10px;
        @media (max-width:719px) {
            padding: 20px;
        }
    }
    
    .btn-pts {
        margin: 0 auto;
    }
}
