.schemeCard {
  padding: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  
  &_scheme {
    // border: 1px solid red;
    background: #FFFFFF;
    
    svg {
      width: 25px;
      height: 27px;
      fill: rgba(223, 223, 223, 1);
      stroke: rgba(223, 223, 223, 1);
      transition: all ease 0.5s;
      
      &:hover{
        fill: rgba($purple, 1);
        stroke: rgba($purple, 1);
      }
    }
    
    &__btn {
      display: inline-block;
    }
    
  }

  &_description {
    background: linear-gradient(359.96deg, #DBE8FF 0.55%, #E5EFFF 50.61%, #F0F6FF 100%);
    transition: all ease 0.5s;
  }
  
}
