<div class="js-scheme-container">
  <div class="row mb-30 mb-xs-25">
    <div class="col-lg-16 col-xs-12">
      <div class="schemeCard schemeCard_scheme mb-15">
        <div class="schemeCard_scheme__btn js-scheme-btn" data-target="card-1">
          <svg class="icon-svg icon-svg__cog">
            <use xlink:href="user/svg/sprite.svg#cog"></use>
          </svg>
        </div>
        <div class="mb-85 mt-60">
          <picture class="">
            <source media="(max-width: 720px)" srcset="user/img/scheme-4-1-xs.png" /> <img alt="Scheme"
              class="img_center" src="user/img/scheme-4-1.png" />
          </picture>
        </div>
      </div>
      <div class="schemeCard schemeCard_description hide js-scheme-description animate__animated animate__zoomIn"
        id="card-1">
        <p class="text-m text-bold">Принцип управления
        </p>
        <p class="text-m">При большой задержке излишне энергичная политика порождает нестабильность. Нужно сохранять
          терпение либо сделать систему более чуткой к воздействиям.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="js-scheme-container">
  <div class="row mb-30 mb-xs-25">
    <div class="col-lg-16 col-xs-12">
      <div class="schemeCard schemeCard_scheme mb-15">
        <div class="schemeCard_scheme__btn js-scheme-btn" data-target="card-2">
          <svg class="icon-svg icon-svg__cog">
            <use xlink:href="user/svg/sprite.svg#cog"></use>
          </svg>
        </div>
        <div class="mb-85 mt-60">
          <picture class="">
            <source media="(max-width: 720px)" srcset="user/img/scheme-4-1-xs.png" /> <img alt="Scheme"
              class="img_center" src="user/img/scheme-4-1.png" />
          </picture>
        </div>
      </div>
      <div class="schemeCard schemeCard_description hide js-scheme-description animate__animated animate__zoomIn"
        id="card-2">
        <p class="text-m text-bold">Принцип управления
        </p>
        <p class="text-m">При большой задержке излишне энергичная политика порождает нестабильность. Нужно сохранять
          терпение либо сделать систему более чуткой к воздействиям.
        </p>
      </div>
    </div>
  </div>
</div>