<div class="row mb-40 mb-xs-20 js-scrollTrigger" id="contextBlock">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Контекстный блок</h1>
    </div>
</div>

<div class="row mb-30 mb-xs-25">
    <div class="col-12">
        <div class="contextBlock-leftLine">
            <h4 class="mb-5">Планирование</h4>
            <p class="text-m">Какую работу можно выполнить в этом спринте и как она будет выполняться?</p>
        </div>
    </div>
</div>

<div class="row mb-30 mb-xs-25">
    <div class="col-lg-12 col-xs-12 mb-30 mb-xs-35">
            <hr/>
            <div class="text-l">Multiple-Input Multiple-Output.</div>
    </div>
    <div class="col-lg-12 col-xs-12 mb-30 mb-xs-35">
            <hr/>
            <div class="text-l">Multiple-Input Multiple-Output.</div>
    </div>
</div>
<div class="row mb-30 mb-xs-25">
    <div class="col-lg-12 col-xs-12">
        <div class="contextBlock_box-shadow">
            <p class="text-m text-bold">СЦС нет, СЦК есть</p>
            <p class="text-m">Сотрудник выполняет задачи в интересах компании. Для неё выгодно то, что нет необходимости затрачивать ресурсы на согласования личных и корпоративных целей.</p>
        </div>
    </div>
</div>

<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <div class="info-block">
            <img alt="" class="img__center mb-20 mb-xs-20" src="user/img/info.png" width="55">
            <div class="text-m"><span class="text-bold">Креативное мышление</span> — это процесс, позволяющий заглянуть за грани и пределы существующего и обрести новые идеи.
            </div>
        </div>
    </div>
</div>

<div class="row mb-60 mb-xs-30">
    <div class="hide-xs col-lg-2 col-xs-12"></div>
    <div class="col-lg-20 col-xs-12 pr-0 pl-0">
        <div class="info-purple">
            <div class="col-lg-4 col-xs-12 text-center mb-xs-20">
                <img alt="" src="user/img/icon_bell.png" width="86">
            </div>
            <div class="col-lg-20 col-xs-12">
              <div class="text-m mb-20 mb-xs-15">В этом варианте отход от привычного функционала иллюстрирует возможность генерировать оригинальные идеи при помощи креативного мышления.
              </div>
              <div class="text-m">Как видишь, создавать новое — это не всегда про машину времени или вечный двигатель. Это про простые вещи, которые мы создаём ежедневно!
              </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-60 mb-xs-30">
    <div class="col-12 checkbox-puzzle__container">
        <div class="checkbox checkbox_puzzle">
            <input id="c1" type="checkbox">
            <label for="c1">Если я вижу во всём негатив, значит критически мыслю?</label>
        </div>
        <div class="checkbox checkbox_puzzle">
            <input id="c2" type="checkbox">
            <label for="c2">Как поможет критическое мышление решить проблему?</label>
        </div>
        <div class="checkbox checkbox_puzzle">
            <input id="c3" type="checkbox">
            <label for="c3">Почему критического мышления недостаточно?</label>
        </div>
        <div class="checkbox checkbox_puzzle">
            <input id="c4" type="checkbox">
            <label for="c4">Какие качества помогут мне мыслить критически?</label>
        </div>
        <div class="checkbox checkbox_puzzle">
            <input id="c5" type="checkbox">
            <label for="c5">Какие психологические блоки мешают озвучить критику? </label>
        </div>
        <div class="checkbox checkbox_puzzle">
            <input id="c6" type="checkbox">
            <label for="c6">Как критиковать руководителя?</label>
        </div>
        <div class="checkbox checkbox_puzzle">
            <input id="c7" type="checkbox">
            <label for="c7">Ни на чём из вышеперечисленного</label>
        </div>
    </div>
</div>

<div class="row bg-rose-gradient pt-35 pb-35 pt-xs-35 pb-xs-35 mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
      <h3 class="text-center">Чтобы завершить модуль, закрой окно курса.
      </h3>
    </div>
</div>

<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <a class="contextBlock-download">
            <span class="contextBlock-download__block">
                <span>Чек-лист «На пути к критическому мышлению»</span>
                <span>PDF, 2,4Mb</span>
            </span>
            <svg class="icon-svg icon-download">
                <use xlink:href="user/svg/sprite.svg#icon-download"/>
            </svg>
        </a>
    </div>
</div>