@import "../../style/_vars";

.contextBlock {
    &_box-shadow {
        padding: 45px 15px;
        background: #FFFFFF;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        height: 100%;

        @media (min-width: 719px) {
          &.p-45-30 {
            padding: 45px 30px;
          }
        }

    }

    &_border-gray {
        padding: 20px;
        background: #FFFFFF;
        border-radius: 10px;
        border: 1px solid rgba($black, .16)
        // height: 100%;
    }

    &-leftLine {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #B3B3B3;
            top: 13px;
            left: 5px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &__title {
            padding-left: 35px;
            position: relative;
            &:after,&:before {
                border-radius: 50%;
            }
            &:after {
                content: '';
                width: 5px;
                height: 5px;
                background-color: #B3B3B3;
                position: absolute;
                left: 3px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &:before {
                content: '';
                width: 11px;
                height: 11px;
                background-color: white;
                border: 1px solid #B3B3B3;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &__text {
            padding-left: 35px;
        }
    }

    &-cloud {
        &__container {
            position: relative;
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;

            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                bottom: 0;
            }

            p {
                position: absolute;
            }
        }
    }

    &-download {
        display: inline-block;
        width: 100%;
        position: relative;
        background: linear-gradient(139.71deg, #DED6FF -14.63%, #EBF6FF 93.4%);
        box-shadow: 0 5px 10px rgba(42, 100, 204, 0.25);
        border-radius: 8px;
        padding: 20px 45px 20px 15px;
        text-decoration: none;

        span {
            color: black;
            display: block;
        }

        .icon-download {
            position: absolute;
            right: 0;
            top: 15px;
            width: 34px;
            height: 34px;
        }

        .icon-link {
            position: absolute;
            right: 10px;
            top: 20px;
            width: 18px;
            height: 18px;
        }
    }

    &__w-100 {
      margin: 0;
      background-color: #E8CCFF;
      padding: 40px;

      &.bg-vectors {
        background-color: #E8CCFF;
        // background-image: url('../svg/sprite.svg#bg-block');
        background-image: url('../img/bg-block-lg.png');
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 719px) {
          padding: 40px 15px;
          // background-image: url('../svg/sprite.svg#bg-block-xs');
          background-image: url('../img/bg-block-xs.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

    // @media (max-width: 719px) {
    //   &__w-100 {
    //     padding: 40px 15px;
    //   }
    // }
  }
}

.info{
    &-block{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        padding: 20px 15px;
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(254, 240, 255, 1) 3.26%, rgba(230, 249, 255, 1) 105.13%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef0ff", endColorstr="#e6f9ff", GradientType=1);
    }

    &-purple{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        background: url(../img/info-purple.png) no-repeat center center;
        background-size: cover;
        overflow: hidden;
        border-radius: 10px;
        padding: 30px;
        color: #FFF;  
    }

    &-light-purple {
      background: rgba($purple, .1);
    }
}