<div class="grid guideline-grid mb-60 mb-xs-30" id="grid">
    <div class="row mb-20 mb-xs-20" style="border: none;">
        <div class="col-lg-24 col-xs-12">
            <h1 class="h1">Сетка</h1>
        </div>
    </div>

    <!-- 1 блок -->
    <div class="row">
        <div class=" col col-lg-24 col-xs-12">
            <p class="text text-l">100%</p>
        </div>
    </div>
    <!-- 2 блока -->
    <div class="row">
        <div class="col col-lg-12 col-xs-6">
            <p class="text text-l">50%</p>
        </div>
        <div class="col col-lg-12 col-xs-6">
            <p class="text text-l">50%</p>
        </div>
    </div>
    <!-- 3 блока -->
    <div class="row">
        <div class="col col-lg-8 col-xs-4">
            <p class="text text-l">33.3%</p>
        </div>
        <div class="col col-lg-8 col-xs-4">
            <p class="text text-l">33.3%</p>
        </div>
        <div class="col col-lg-8 col-xs-4">
            <p class="text text-l">33.3%</p>
        </div>
    </div>
    <!-- 4 блока -->
    <div class="row">
        <div class="col col-lg-6 col-xs-3">
            <p class="text text-l">25%</p>
        </div>
        <div class="col col-lg-6 col-xs-3">
            <p class="text text-l">25%</p>
        </div>
        <div class="col col-lg-6 col-xs-3">
            <p class="text text-l">25%</p>
        </div>
        <div class="col col-lg-6 col-xs-3">
            <p class="text text-l">25%</p>
        </div>
    </div>
    <!-- 6 блоков -->
    <div class="row">
        <div class="col col-lg-4 col-xs-12">
            <p class="text text-l">16.6%</p>
        </div>
        <div class="col col-lg-4 col-xs-12">
            <p class="text text-l">16.6%</p>
        </div>
        <div class="col col-lg-4 col-xs-12">
            <p class="text text-l">16.6%</p>
        </div>
        <div class="col col-lg-4 col-xs-12">
            <p class="text text-l">16.6%</p>
        </div>
        <div class="col col-lg-4 col-xs-12">
            <p class="text text-l">16.6%</p>
        </div>
        <div class="col col-lg-4 col-xs-12">
            <p class="text text-l">16.6%</p>
        </div>
    </div>
    <!-- 12 блоков -->
    <div class="row">
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-12">
            <p class="text text-l">8.3%</p>
        </div>
    </div>
    <!-- 12 блоков -->
    <!-- <div class="row">
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
        <div class="col col-lg-2 col-xs-1">
            <p class="text text-xs">8.3%</p>
        </div>
    </div> -->
</div>
