<div class="row mb-20 mb-xs-20" id="text">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Текста</h1>
    </div>
</div>
<div class="row mb-30 mb-xs-30">
    <div class="col-lg-12 col-xs-12 mb-xs-20">
        <h3 class="h3 text">Цвета текста</h3>
        <div class="text text-l">Черный (по умолчанию)</div>
        <div class="text text-l text-purple">Фиолетовый</div>
        <div class="text text-l text-red">Красный</div>
        <div class="text text-l text-green">Зеленый</div>
        <div class="text text-l text-gray-1">Серый</div>
        <div class="text text-l text-gray-3">Светло-серый</div>
    </div>
    <div class="col-lg-12 col-xs-12">
        <h3 class="h3 text">Выравнивание текста</h3>
        <div class="text text-l">text left</div>
        <div class="text text-l text-center">text center</div>
        <div class="text text-l text-right">text right</div>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-12 col-xs-12">
        <h3 class="h3 text">Размер текста</h3>
        <div class="text text-uppercase">text uppercase</div>
        <div class="text text-xl">text xl</div>
        <div class="text text-l">text l</div>
        <div class="text text-m">text m</div>
        <div class="text text-s">text s</div>
        <div class="text text-xs">text xs</div>
    </div>
</div>
