<div class="banner bg-purple-gradient mb-60 mb-xs-60" id="banner">
    <div class="container">
        <div class="row pt-40 pt-xs-40 pb-30 pb-xs-30">
            <h1 class="text-white">Баннер
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="banner__content">
                    <div class="row">
                        <div class="speech tail_rc down">
                            <p class="text-m">Меня вдохновили возможности, которые открывает креативное мышление. Процесс развития творческих способностей&nbsp;&mdash; это&nbsp;дело, требующее времени. Я&nbsp;нашла решение, как&nbsp;внедрить нестандартное мышление в&nbsp;работу уже&nbsp;сейчас. Это&nbsp;возможно при&nbsp;помощи креативных методологий. О&nbsp;них&nbsp;и&nbsp;пойдёт речь.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12">
                <div class="main-people main-people_olive">
                    <picture class="main-people__charset">
                        <source media="(max-width: 720px)" srcset="user/img/pers_1_mobile-women.png"/>
                        <img src="user/img/pers_1-women.png" alt="Персонаж"/>
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>