@import "../../style/_vars";

.dragAndDrop {
    &__body {
        margin: 0 -15px 0 -15px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 30px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        // margin: 15px 15px 0 15px;
        // width: calc(33.33% - 30px);

        &:nth-child(-n+3) {
            margin-top: 0;
        }
    }

    &__draggable {
        cursor: grab;
        height: 100%;
        // width: calc(33.33% - 30px);
        text-align: center;
        // margin: 15px 15px 0 15px;
        padding: 20px 0;
        background-color: $blue;
        color: rgba($white, 1);

        &:nth-child(-n+3) {
            margin-top: 0;
        }
    }

    &__droppable {
        min-height: 59px;
        border: 1px solid rgba($blue, 1);

        &.correct {
            border-color: rgba($green, 1);

            .dragAndDrop__draggable {
                background-color: rgba($green, 1);
            }
        }

        &.incorrect {
            border-color: rgba($red, 1);

            .dragAndDrop__draggable {
                background-color: rgba($red, 1);
            }
        }

        .dragAndDrop__draggable {
            width: 100% !important;
            margin: 0;
        }
    }
}
