<div class="row">
    <div class="col-12">
        <div class="pickRound__container js-pickRound">
            <div class="pickRound js-pickRound-item">
                1
            </div>
            <div class="speech speech_tails js-pickRound-speech speech_tails-none-xs speech_tails-bottomRight-lg hide">
                <p class="text-m">Меня вдохновили возможности, которые открывает креативное мышление. Процесс развития творческих способностей — это дело, требующее времени.
                </p>
            </div>
        </div>
    </div>
</div>