.pickRound {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #8E00FE;
  padding: 5px 0;
  color: white;
  font-size: 14px;
  line-height: 21px!important;
  font-family: $Bold;
  text-align: center;
  cursor: pointer;
  &_border-white {
    border: 1px solid #FFFFFF;
  }
  &__container {
    width: 30px;
    position: relative;

    .speech {
      width: 385px;
      position: absolute;
      right: 0;
      bottom: 50px;
    }
  }
  @media #{$breakpoint-xs-only} {
    &__container {
      width: 100%;

      .speech {
        width: 290px;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}