@import "../../style/_vars";

.sortable {
    &__container {
    }

    &__body {
        display: flex;
        max-width: 753px;
        margin: 0 auto;
        gap: 10px;

    }

    &__items {
        &-first {
            position: relative;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            max-width: 50%;
            gap: 10px;
            -webkit-overflow-scrolling: touch; /* Плавный скролл внутри блока */
    
            &.full {
              margin: 0 auto;
              width: 74%;         
            }
            
            &.w-20 {
              width: 20% !important;
            }
        }
        &-second {
            position: relative;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 10px;
            -webkit-overflow-scrolling: touch; /* Плавный скролл внутри блока */
    
            &.full {
              margin: 0 auto;
              width: 74%;         
            }
            
            &.w-20 {
              width: 20% !important;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 12px 54px 12px 20px;
        border-radius: 4px;
        border: 1px solid $light-gray;
        position: relative;
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
        touch-action: none; /* Отключаем стандартные жесты касания */

        &.correct, &.incorrect {
            color: $white;
            
            &:before, &:after {
            display: none;
            }

            & > .sortable-drag-area-icon {
                opacity: 0;
            }
        }

        &.correct { 
            background-color: $green-2; 
        }
        
        &.incorrect { 
            background-color: $red-2; 
        }

        @media (max-width: 719px) {
            padding: 8px 12px 42px;
        }
    }

    &__title {
        display: flex;
        flex-shrink: 0;
        border-radius: 4px;
        background-color: $primary;
        color: $white;
        align-items: center;
        padding: 8px 12px;
        justify-content: center;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-drag-area {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: grab;
        z-index: 10;
        touch-action: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
        
        @media (max-width: 719px) {
            height: 42px;
            left: 0;
        }

        &:active {
            cursor: grabbing;
        }

        &-icon {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 10px;
            margin: auto;

            @media (max-width: 719px) {
                width: 24px;
                height: 24px;
                position: absolute;
                right: 0;
                left: 0;
                bottom: 8px;
            }
        }

    }

    
}

.sortable__title, .sortable__item {
    box-sizing: border-box;
    height: auto; /* переопределяем жёсткую высоту */
}

.ui-sortable-helper .sortable-drag-area {
  cursor: grabbing;
}

