// Header
@import "./Header/header.scss";

// DragAndDrop
@import "./DragAndDrop/DragAndDrop.scss";

// DraggableSides
@import "./DraggableSides/DraggableSides.scss";

// Sortable
@import "./Sortable/sortable.scss";

// Testing
@import "./Testing/testing.scss";

// Testing final
@import "./TestingFinal/testingFinal.scss";

// Testing preliminary
@import "./TestingPreliminary/testingPreliminary.scss";

// Testing purple
@import "./TestingPurple/testingPurple.scss";

// Score Input Test
@import "./ScoreInputTest/scoreInputTest.scss";

// Tile
@import "./Tile/Tile.scss";

//TestingDialog
@import "./TestingDialog/TestingDialog.scss";

//TwoTarget
@import "./TwoTarget/twoTarget.scss";

//PracticeDropDown
@import "./PracticeDropDown/PracticeDropDown.scss";

//PracticeSingle
@import "./PracticeSingle/PracticeSingle.scss";

//PracticeMultipleImage
@import "./PracticeMultipleImage/PracticeMultipleImage.scss";

//PracticeBingo
@import "./PracticeBingo/PracticeBingo.scss";

//PracticeMultiple
@import "./PracticeMultiple/PracticeMultiple.scss";

//PracticeTestBtn
@import "./PracticeTestBtn/PracticeTestBtn.scss";