@import "../../style/_vars";

.test {
    &__answers {

      .form-wrapper {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
     
        .form__input {        
          border-radius: 5px;
          font-size: $fs16;
          padding: 16px 12px;

          &.number__input {
            flex: 0 0 auto;
            width: 69px;
            border-radius: 8px;
            font-size: $fs18;
            text-align: center;
            padding: 2px 4px;
            border: 1px solid rgba($purple, 1);
            margin-right: 20px;
          }

        }

        .form__input:disabled {
          background-color: rgba($white, 1);

          &.number__input {
            background-color: rgba(#e5e5e5, .7);
          }
        }

        .form__input.invalid {
          &.number__input {
            border: 1px solid red;
          }
        }
      }
    }

    &__footer-wrapper {
      height: 40px;
    }

    // &__contextBlock {
    //     color: white;
    //     background: linear-gradient(101.21deg, #3C2FD0 -12.8%, #9E32F2 190.18%);
    //     border-radius: 10px;
    //     padding: 30px;
    // }

}

input:focus, 
input:focus-visible {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

