<div class="row mb-20 mb-xs-20 js-scrollTrigger" id="list">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Списки</h1>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-12 col-xs-12 mb-30 mb-xs-35">
        <ul class="list list__ul text text-l text-gray-1">
            <li class="list__ul--dash">Multiple-Input Multiple-Output.</li>
            <li class="list__ul--dash">Многоканальный вход/выход.</li>
        </ul>
    </div>
    <div class="col-lg-12 col-xs-12 mb-30 mb-xs-35">
        <ol class="list list__ol text text-l text-gray-1">
            <li class="list__ol--item">Multiple-Input Multiple-Output.</li>
            <li class="list__ol--item">Многоканальный вход/выход.</li>
        </ol>
    </div>

    <div class="col-lg-12 col-xs-12 mb-30 mb-xs-35 bg-purple-gradient">
        <ol class="list list__ol marker-white text text-l text-gray-1">
            <li class="list__ol--item">Multiple-Input Multiple-Output.</li>
            <li class="list__ol--item">Многоканальный вход/выход.</li>
        </ol>
    </div>
    <div class="col-lg-12 col-xs-12 mb-xs-35">
        <ol class="list list__ul text text-l text-gray-1">
            <li class="list__ul--item">Социально-экономические.</li>
            <li class="list__ul--item">Организационно-технические.</li>
            <li class="list__ul--item">Санитарно-гигиенические.</li>
        </ol>
    </div>
    <div class="col-lg-12 col-xs-12">
        <ol class="list list__circle text text-l text-gray-1">
            <li class="list__circle--item">Социально-экономические.</li>
            <li class="list__circle--item">Организационно-технические.</li>
            <li class="list__circle--item">Санитарно-гигиенические.</li>
        </ol>
    </div>   
</div>