  <div class="info-block__purple bg-purple-gradient-1 mb-115 mb-xs-85">
      <div class="info-block__purple-inner">
        <div class="inner-text ">
        <h2 class="mb-30 mb-xs-25 text-white">Онлайн VS Offline
        </h2>
                <p class="text-xl text-white">Исследователи из НИУ ВШЭ совместно с коллегами из США проанализировали эффективность дистанционного обучения по&nbsp;сравнению с традиционными очными занятиями и пришли к выводу, что такой метод преподавания не уступает по качеству традиционному обучению, но при этом позволяет обучить на&nbsp;<nobr>15–18%</nobr>&nbsp;больше студентов. Это высокомотивированные ученики.
        </p>
        </div>
        <div class=" pr-0 inner-img pr-xs-0 pl-xs-0 relative">
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/img-4-1-xs.png" /> <img alt="icon" class="img_center mr-0" src="user/img/img-4-1-lg.png" /> 
        </picture>
        </div>
      </div>
  </div>