@font-face {
  font-family: 'Muller';
  src: local(''),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local(''),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local(''),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local(''),
    url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local(''),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
