.podcasts {
  padding-top: var(--section_pd);
  padding-bottom: var(--section_pd);
  background-color: var(--light_gray);
}

.podcasts__title {
  margin-bottom: 15px;
}

.podcasts__list {
  gap: 30px;
  margin-bottom: -30px;
}

.podcasts__item {
  margin-bottom: 30px;
}

.podcasts__card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

.podcasts__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 64px 28px 16px;
}

.podcasts__card-date {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 51px;
  padding: 3px 8px;
  font-size: 10px;
  background-color: var(--light_gray);
}

.podcasts__card-time {
  margin-bottom: 6px;
  font-size: 12px;
}

.podcasts__name {
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 16px;
}

.podcasts__author {
  font-size: 12px;
  color: var(--text_gray);
}

.podcasts__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 576px) {
  .podcasts__title {
    margin-bottom: 23px;
  }

  .podcasts__card {
    flex-direction: row;
  }

  .podcasts__card-picture {
    width: 112px;
  }

  .podcasts__img {
    min-width: 112px;
  }

  .podcasts__card-content {
    padding: 40px 29px 37px;
  }

  .podcasts__card-date {
    bottom: 0;
    top: auto;
    padding: 2px 8px;
  }

  .podcasts__name {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .podcasts__author {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .podcasts__item {
    width: calc(50% - 15px);
  }

  .podcasts__card-content {
    padding-right: 78px;
  }

  .podcasts__item {
    margin-bottom: 0;
  }

  .podcasts__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .podcasts__title {
    margin-bottom: 21px;
  }
}
