<div class="container-scroll_fullScreen container-scroll js-container-scroll">
    <div class="bg-dark-violet">
        <section class="container splash">
            <div class="row mb-100 mb-xs-20">
                <div class="col-12 col-xs-12">
                    <div class="flex flex-column mt-30 mt-xs-30">
                        <div class="mb-40 mb-xs-15"> 
                            <img alt="Логотип Фонд Мельниченко" src="user/img/header__logo.svg" width="206" /> 
                        </div>
                        <p class="text-white text-xs" style="opacity: 70%;">
                            Профпроба: Машинист горных выемочных машин.
                        </p>
                    </div>
                </div>
            </div>
            <div class="splash_btn-start-position row primary-item">
                <div class="col-lg-13 col-xs-12 pl-30">
                    <div class="h-100 flex flex-column jc-between ai-start">
                        <p class="h1-splash_38-22 text-white">
                            Мультивселенная профессий: <br>Машинист горных выемочных машин
                        </p>
                        <div class="splash_btn-xs-center pb-100 pb-xs-50">
                            <button class="btn btn-common_splash btn-common_splash_black-white mb-100 mb-xs-5" onclick="StartModule()">
                                <span class="btn-common_text text-xl text-bold">Начать</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="splash__img"> 
            <img alt="Заставка" src="user/img/vortex.png" class="splash__img-vortex img-full-size"/> 
        </div>
        <div class="splash__img">
            <img alt="Заставка" class="hide-lg splash__img-pers" src="user/img/splash-pers-xs.png" /> 
            <img alt="Заставка" class="hide-xs splash__img-pers" src="user/img/splash-pers.png" />
        </div>
    </div>
</div>

<script>
</script>