<!-- <div class="container-scroll container-scroll_fullScreen js-container-scroll"> -->

      <div class="container">

    <!-- Gear and drop interaction -->
      <div class="row mb-60 mb-xs-45">
      <div class="col-lg-24 col-xs-12">
        <div id="interaction-1" class="int-1 relative">
        <!-- Drag item -->
        <picture>
           <source media="(max-width: 720px)" srcset="user/img/gear-drag-xs.png" /><img id="gear-drag" class="gear gear-drag counterclockwise" alt="" src="user/img/gear-drag.png" />
        </picture>
        <!-- Background image -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/img-int-1-xs.png" /> <img alt="" class="int-img-1" src="user/img/img-int-1-lg.png" /> 
        </picture>

        <!-- Gear 1 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-1-xs.png" /> <img alt="" class="gear gear-1 clockwise" src="user/img/gear-1.png" /> 
        </picture>

        <!-- Arrow 1 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-arrow-1-xs.png" /> <img alt="" class="gear arrow-1" src="user/img/gear-arrow-1.png" /> 
        </picture>

        <!-- Gear 2 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-2-xs.png" /> <img alt="" class="gear gear-2 counterclockwise" src="user/img/gear-2.png" /> 
        </picture>

        <!-- Arrow 2 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-arrow-2-xs.png" /> <img alt="" class="gear arrow-2" src="user/img/gear-arrow-2.png" /> 
        </picture>

        <!-- Gear 3 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-3-xs.png" /> <img alt="" class="gear gear-3 counterclockwise" src="user/img/gear-3.png" /> 
        </picture>

        <!-- Arrow 3 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-arrow-3-xs.png" /> <img alt="" class="gear arrow-3" src="user/img/gear-arrow-3.png" /> 
        </picture>

        <!-- Gear 4 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-4-xs.png" /> <img alt="" class="gear gear-4 counterclockwise" src="user/img/gear-4.png" /> 
        </picture>

        <!-- Arrow 4 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-arrow-4-xs.png" /> <img alt="" class="gear arrow-4" src="user/img/gear-arrow-4.png" /> 
        </picture>

        <!-- Gear 5 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-5-xs.png" /> <img alt="" class="gear gear-5 clockwise" src="user/img/gear-5.png" /> 
        </picture>

        <!-- Arrow 5 -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-arrow-5-xs.png" /> <img alt="" class="gear arrow-5" src="user/img/gear-arrow-5.png" /> 
        </picture>

      <!-- Drop spot -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/gear-drop-spot-xs.png" /> <img id="drop-spot" alt="" class="drop-spot-1" src="user/img/gear-drop-spot-lg.png" /> 
        </picture>
        </div>
      </div>
    </div>

    </div>

    <div class="container">

    <!-- Persons drag and drop interaction -->
      <div class="row mb-60 mb-xs-45">
      <div class="col-lg-24 col-xs-12">
        <div id="interaction-2" class="int-2 relative pt-150">
        <!-- Drop spot -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/img-drop-spot-xs.png" /> <img id="drop-spot-2" alt="" class="drop-spot-2 img_center" src="user/img/img-drop-spot-lg.png" /> 
        </picture>

        <!-- Drop item -->
        <img id="pers-drag" class="pers-drag" alt="" src="user/img/pers_male_circle_1.png" width="130" />

        <!-- Active image background -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/img-int-backgr-2-xs.png" /> <img id="int-backgr" alt="" class="int-backgr-2" src="user/img/img-int-backgr-2-lg.png" /> 
        </picture>
        
        <!-- Image -->
        <picture> 
          <source media="(max-width: 720px)" srcset="user/img/img-int-2-xs.png" /> <img alt="" class="int-img-2" src="user/img/img-int-2-lg.png" /> 
        </picture>
        </div>
      </div>
    </div>

    </div>
<!-- </div> -->