@import "../../style/_vars";

.multiple-img-container {

    .multiple-image-grid {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    
        @media (max-width:719px) {
            // grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            gap: 8px;
        }
    }
    
    .multiple-image-item {
        position: relative;
        cursor: pointer;
        border: 2px solid #CBDBE3;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease;
    
        &:hover {
            border: 2px solid $primary;
        }

        
    }
    
    .multiple-image-item.disabled {
        cursor: not-allowed;
        pointer-events: none;

        &:hover {
            border: 2px solid #CBDBE3 !important; /* Отключаем ховер-эффект */
        }
    }

    .multiple-image-item.selected {
        border-color: $primary;
    }
    
    .multiple-image-item.correct-feedback {
        border-color: rgba(41, 149, 39, 1);
    }
    
    .multiple-image-item.incorrect-feedback {
        border-color: rgba(188, 37, 58, 1);
    }
    
    .multiple-image-img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .feedback-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
    
        @media (max-width:719px) {
            width: 20px;
            height: 20px;
        }
    }
    
    .icon {
        &-status {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 4px;
    
            @media (max-width:719px) {
                width: 20px;
                height: 20px;
            }
        }
    
        &-default {
            background-color: $white;
            color: #CBDBE3;
            border: 2px solid #CBDBE3;
            transition: all 0.3s ease;
    
            &.hover {
                color: $primary;
                border: 2px solid $primary;
            }
    
            &.select {
                background-color: $primary;
                color: white;
                border: 2px solid $primary;
            }
        }
    
        &-correct {
            background-color: rgba(41, 149, 39, 1);
            color: white;
        }
    
        &-incorrect {
            background-color: rgba(188, 37, 58, 1);
            color: white;
        }
    }
}

