@import "../../style/_vars";

table {
    caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: rgba($gray-1, 1);

    &>thead {
        vertical-align: bottom;
    }

    &>tbody {
        vertical-align: inherit;
    }

    &>:not(:last-child)>:last-child>* {
        // border-bottom-color: rgba($gray-1, 1);
    }

    &>:not(caption)>*>* {
        padding: .5rem .5rem;
        background-color: rgba($white, 1);
        // border-bottom-width: 1px;
    }

    &.border-gray-inner {
      margin: 0;
      width: 100%;
      border-style: hidden;
      border-color: rgba($gray-7, 1) !important;

      th {
        width: 50%;
      }

      th, td {
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid rgba($gray-7, 1);
      }
    }
}
