// banner
@import "./banner/banner.scss";

// Scrollbar
@import "./Scrollbar/scrollbar.scss";

// Grid
@import "./Grid/grid.scss";

// Accordion
@import "./Accordion/accordion.scss";

// Tabs
@import "./Tabs/tabs.scss";

// Modals
@import "./Modals/modals.scss";

// Btn
@import "./Button/button.scss";

// FlipCard
@import "./flipCard/flipCard.scss";

// Speach
@import "./Speech/speech.scss";

// Typography title
@import "./Typography/title.scss";

// Typography text
@import "./Typography/text.scss";

// List
@import "./List/list.scss";

// Table
@import "./Table/table.scss";

// Carousel
@import "./Carousel/carousel.scss";

// Radio
@import "./Radio/radio.scss";

// Checkbox
@import "./Checkbox/checkbox.scss";

// Info
@import "./contextBlock/contextBlock.scss";

// Circle
@import "./Circle/circle.scss";

// PickRound
@import "./PickRound/PickRound.scss";

// RangeSlider
@import "./RangeSlider/rangeSlider.scss";

// InfoBlock
@import "./InfoBlockPurple/infoBlockPurple.scss";

// SchemeCard
@import "./SchemeCard/schemeCard.scss";

// CustomInteractions
@import "./CustomInteractions/customInteractions.scss";

// Map
@import "./Map/map.scss";

// Cloud
@import "./Cloud/cloud.scss";

// Balloon
@import "./baloon/baloon.scss";

@import "./Ui/ui.scss";
@import "./Tile/Tile.scss";

@import "./Splash/splash.scss";

@import "./Intro/intro.scss";

@import "./Dialog-header/dialog-header.scss";

@import "./Practice-touch/practice-touch.scss";


