<!-- Range slider diagnostics -->
<div class="hide-xs">
  <div class="row mb-40 mb-xs-45">
    <div class="col-12">
      <p class="text-l text-bold">Оцени по&nbsp;10-бальной шкале развитие у&nbsp;себя каждого качества в&nbsp;настоящий момент и&nbsp;желаемый уровень.
      </p>
    </div>
  </div>
  <div class="row mb-40 mb-xs-45">
    <div class="col-lg-12 text-left">
      <p class="text-s text-gray-light">Перетаскивай круглый бегунок, чтобы&nbsp;отметить текущий уровень.
      </p>
    </div>
    <div class="col-lg-12 text-right">
      <p class="text-s text-gray-light">Перетаскивай крестик, чтобы&nbsp;отметить желаемый уровень.
      </p>
    </div>
  </div>
</div>
<div class="hide-lg">
  <div class="row mb-40 mb-xs-45">
    <div class="col-12">
      <p class="text-l text-bold mb-xs-20">Оцени по&nbsp;10-бальной шкале развитие у&nbsp;себя каждого качества в&nbsp;настоящий момент и&nbsp;желаемый уровень.
      </p>
      <p class="text-s mb-xs-30">Перетаскивай круглые бегунки, чтобы&nbsp;отметить текущий и желаемый уровни.
      </p>
      <div class="flex mb-xs-15">
        <div class="circle-current">&nbsp;
        </div>
        <p class="text-s pt-xs-5 pl-xs-10">&mdash; текущий уровень
        </p>
      </div>
      <div class="flex">
        <div class="circle-desired">&nbsp;
        </div>
        <p class="text-s pt-xs-5 pl-xs-10">&mdash; желаемый уровень
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mb-60 mb-xs-45">
  <div class="col-12 col-xs-12">
    <div class="range-slider-container">
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Здоровье
        </div>
      </div>
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Интеллект
        </div>
      </div>
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Красота
        </div>
      </div>
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Счастье
        </div>
      </div>
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Авторитет среди коллег
        </div>
      </div>
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Уверенность в&nbsp;себе
        </div>
      </div>
      <div class="range-slider-wrapper mb-20 mb-xs-25">
        <div class="range-slider-track mb-10 mb-xs-10">
          <div class="range-slider">&nbsp;
          </div>
        </div>
        <div class="range-slider-label">Характер
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-30 text-center js-test-footer ">
    <button class="btn btn_border accept mr-100"><span class="btn__text">Принять ответ</span>
    </button>
    <button class="btn btn_border" onclick=" $('.js-hide-content1').show();"><span class="btn__text">Пропустить</span>
    </button>
  </div>
</div>
<div class="row mb-40 mb-xs-45 js-feedback-low" style="display: none;">
  <div class="col-lg-4">&nbsp;
  </div>
  <div class="col-lg-16 col-xs-12">
    <div class="test__contextBlock">
      <picture class="main-people__charset"> <img alt="icon" class="img_center mb-20 mb-xs-25" src="user/img/incorrectOS.png" /> 
      </picture>
      <p class="text-m">Заниженная самооценка. Люди с&nbsp;заниженной самооценкой преувеличивают значимость большинства событий в&nbsp;жизни и&nbsp;считают себя заведомо проигравшими в&nbsp;сравнении с&nbsp;другими. Это&nbsp;рушит их&nbsp;уверенность в&nbsp;себе и&nbsp;личном потенциале, ведёт к&nbsp;утрате чувства личного достоинства, что, в&nbsp;конечном итоге, приводит к&nbsp;заниженной самооценке. Как&nbsp;и&nbsp;завышенная самооценка&nbsp;&mdash; это&nbsp;неадекватный уровень представлений о&nbsp;себе. Удели время, чтобы&nbsp;оценить свои умения, способности, реально оценить свои успехи.
      </p>
    </div>
  </div>
</div>
<div class="row mb-40 mb-xs-45 js-feedback-med" style="display: none;">
  <div class="col-lg-4">&nbsp;
  </div>
  <div class="col-lg-16 col-xs-12">
    <div class="test__contextBlock">
      <picture class="main-people__charset"> <img alt="icon" class="img_center mb-20 mb-xs-25" src="user/img/correctOS.png" /> 
      </picture>
      <p class="text-m">Адекватная самооценка. Люди с&nbsp;адекватной самооценкой находятся в&nbsp;реальном времени, имеют сбалансированное представление о&nbsp;себе. Такой человек умеет адапитроваться, зная, какую деятельность выполняет хорошо, а&nbsp;там, где&nbsp;делает пробелы&nbsp;&mdash; пользуется услугами профессионалов.
      </p>
    </div>
  </div>
</div>
<div class="row mb-40 mb-xs-45 js-feedback-high" style="display: none;">
  <div class="col-lg-4">&nbsp;
  </div>
  <div class="col-lg-16 col-xs-12">
    <div class="test__contextBlock">
      <picture class="main-people__charset"> <img alt="icon" class="img_center mb-20 mb-xs-25" src="user/img/incorrectOS.png" /> 
      </picture>
      <p class="text-m">Завышенная самооценка. Люди с&nbsp;этим типом самооценки имеют искажённое, в&nbsp;сторону завышения, представление о&nbsp;собственной персоне. В&nbsp;глубине души они&nbsp;ощущают одиночество и&nbsp;неудовлетворённость собой. У&nbsp;них&nbsp;часто довольно сложно формируются взаимоотношения с&nbsp;окружающим социумом, так&nbsp;как&nbsp;желание видеться лучше, чем&nbsp;они являются в&nbsp;реальности, приводит к&nbsp;надменному, высокомерному, вызывающему поведению. Как&nbsp;и&nbsp;заниженная самооценка&nbsp;&mdash; это&nbsp;неадекватный уровень представлений о&nbsp;себе. Удели время, чтобы&nbsp;оценить свои умения, способности, реально оценить свои успехи.
      </p>
    </div>
  </div>
</div>