.ui-widget.ui-widget-content {
  border: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAyIiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgNzAyIDE1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8xMjI2NF8zMzEpIj48bGluZSB4MT0iMSIgeTE9IjEiIHgyPSIxIiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9Ijc4Ljc5OTgiIHkxPSIxIiB4Mj0iNzguNzk5OCIgeTI9IjE0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSIxNTYuNiIgeTE9IjEiIHgyPSIxNTYuNiIgeTI9IjE0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSIyMzQuNCIgeTE9IjEiIHgyPSIyMzQuNCIgeTI9IjE0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSIzMTIuMiIgeTE9IjEiIHgyPSIzMTIuMiIgeTI9IjE0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSIzOTAiIHkxPSIxIiB4Mj0iMzkwIiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9IjQ2Ny44IiB5MT0iMSIgeDI9IjQ2Ny44IiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9IjU0NS42IiB5MT0iMSIgeDI9IjU0NS42IiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9IjYyMy40IiB5MT0iMSIgeDI9IjYyMy40IiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9IjcwMS4yIiB5MT0iMSIgeDI9IjcwMS4yIiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDBfMTIyNjRfMzMxIj48cmVjdCB3aWR0aD0iNzAyIiBoZWlnaHQ9IjE1IiByeD0iNSIgZmlsbD0id2hpdGUiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=), linear-gradient(270deg, #CD40FF 0.55%, #E3C0FF 99.52%);   
  width: 702px;
  height: 15px;

  @media #{$breakpoint-xs-only} {
    width: 248px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQ4IiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgMjQ4IDE1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lIHgxPSIyMiIgeTE9IjE0IiB4Mj0iMjIiIHkyPSIxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSI1MSIgeTE9IjE0IiB4Mj0iNTEiIHkyPSIxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSI4MCIgeTE9IjE0IiB4Mj0iODAiIHkyPSIxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSIxMDkiIHkxPSIxNCIgeDI9IjEwOSIgeTI9IjEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9IjEzOCIgeTE9IjE0IiB4Mj0iMTM4IiB5Mj0iMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLW9wYWNpdHk9IjAuNiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48bGluZSB4MT0iMTY3IiB5MT0iMTQiIHgyPSIxNjciIHkyPSIxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxsaW5lIHgxPSIxOTYiIHkxPSIxNCIgeDI9IjE5NiIgeTI9IjEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PGxpbmUgeDE9IjIyNSIgeTE9IjE0IiB4Mj0iMjI1IiB5Mj0iMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLW9wYWNpdHk9IjAuNiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=), linear-gradient(270deg, #CD40FF 0.55%, #E3C0FF 99.52%);
  }
}

.range-slider-container {
  width: 100%;
}

.range-slider-wrapper {
  width: 752px;
  margin: 0 auto;

  @media #{$breakpoint-xs-only} {
    width: 290px;
  }
}

.range-slider-track {
  position: relative;
  background-color: rgba(#8E00FE, .2);
  border-radius: 10px;
  width: 752px;
  height: 31px;
  text-align: center;
  padding: 8px 25px;

  @media #{$breakpoint-xs-only} {
    width: 290px;
    margin: 0 auto;
    padding: 8px 21px;
  }
}

.range-slider-track::before {
  content: '1';
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 12px;

    @media #{$breakpoint-xs-only} {
    top: 7px;
  }
}

.range-slider-track::after {
  content: '10';
  position: absolute;
  left: 733px;
  top: 9px;
  font-size: 12px;
  z-index: -1;
  
  @media #{$breakpoint-xs-only} {
    top: 7px;
    left: 272px;
  }
}


.ui-slider-handle.ui-corner-all.ui-state-default {
  width: 31px;
  height: 31px;
  background-color: rgba(#8E00FE, 1) !important;
  border-radius: 50px;
  top: -8px !important;
  margin-left: -15px !important;

}

.range-slider .ui-widget-header {
  background-color: transparent;
  border: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default:nth-child(3) {
  background: no-repeat center/100% url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMSAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIxIiB5PSIxIiB3aWR0aD0iMjkiIGhlaWdodD0iMjkiIHJ4PSIxNC41IiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXJfMTI3NjFfMTM4OCkiLz48cGF0aCBkPSJNNC43NTYgMjUuMjA2OUwyNS41OTczIDUuNzkyOSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48cGF0aCBkPSJNMjYuMjQ0IDI1LjIwNzRMNS40MDI3NCA1Ljc5MzM5IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxyZWN0IHg9IjEiIHk9IjEiIHdpZHRoPSIyOSIgaGVpZ2h0PSIyOSIgcng9IjE0LjUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl8xMjc2MV8xMzg4IiB4MT0iMTYuNTIzIiB5MT0iMS4zNzc3OCIgeDI9IjE2LjgyOTEiIHkyPSIzMC45OTc1IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agc3RvcC1jb2xvcj0iIzhFMDBGRSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzkyOTZGRiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjwvc3ZnPg==);
  background-color: rgba(#FFFFFF, 1) !important;
}

.ui-state-default, 
.ui-widget-content, 
.ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
    border: none !important;
    outline: rgba(#8E00FE, 1) !important;
    color: rgba(#8E00FE, 1) !important;
}

.ui-state-disabled, .ui-widget-content.ui-state-disabled, .ui-widget-header.ui-state-disabled {
    opacity: .95;
}

.range-slider-label {
  font-size: 12px;
  line-height: 14px;
}

.circle-current,
.circle-desired {
  width: 31px;
  height: 31px;  
  border-radius: 50px;
}

.circle-current {
  background-color: rgba(#8E00FE, 1) !important;
}

.circle-desired {
  background: no-repeat center/100% url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMSAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSIxIiB5PSIxIiB3aWR0aD0iMjkiIGhlaWdodD0iMjkiIHJ4PSIxNC41IiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXJfMTI3NjFfMTM4OCkiLz48cGF0aCBkPSJNNC43NTYgMjUuMjA2OUwyNS41OTczIDUuNzkyOSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48cGF0aCBkPSJNMjYuMjQ0IDI1LjIwNzRMNS40MDI3NCA1Ljc5MzM5IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjxyZWN0IHg9IjEiIHk9IjEiIHdpZHRoPSIyOSIgaGVpZ2h0PSIyOSIgcng9IjE0LjUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl8xMjc2MV8xMzg4IiB4MT0iMTYuNTIzIiB5MT0iMS4zNzc3OCIgeDI9IjE2LjgyOTEiIHkyPSIzMC45OTc1IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHN0b3Agc3RvcC1jb2xvcj0iIzhFMDBGRSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzkyOTZGRiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjwvc3ZnPg==);
  background-color: rgba(#FFFFFF, 1) !important;
  box-shadow: 0px 0px 2px rgba(3, 16, 37, 0.25);
}

