<div class="row mb-20 mb-xs-20" id="flip">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Переворачивающиеся карточки</h1>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-8 col-xs-12 mb-xs-25">
        <div class="flipCard">
            <div class="flipCard__front">
                <h5>Заголовок 1</h5>
                <div class="text text-m">Текст 1</div>
            </div>
            <div class="flipCard__back">
                <h5>Заголовок 2</h5>
                <div class="text text-m">Текст 2</div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xs-12 mb-xs-25">
        <div class="flipCard">
            <div class="flipCard__front">
                <h5>Заголовок 1</h5>
                <div class="text text-m">Текст 1</div>
            </div>
            <div class="flipCard__back">
                <h5>Заголовок 2</h5>
                <div class="text text-m">Текст 2</div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xs-12">
        <div class="flipCard">
            <div class="flipCard__front">
                <h5>Заголовок 1</h5>
                <div class="text text-m">Текст 1</div>
            </div>
            <div class="flipCard__back">
                <h5>Заголовок 2</h5>
                <div class="text text-m">Текст 2</div>
            </div>
        </div>
    </div>
</div>
