@import "../../style/_vars";

.flipCard {
  display: flex;
  vertical-align: top;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    bottom: 25px;
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    transition: background 600ms;
    border-radius: 50%;
    background-image: url('../svg/sprite.svg#arow-round');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 64px 64px;
  }

  &__container {
    min-height: 270px;
  }
  &__front,
  &__back {
    width: 100%;
    height: 100%;
    padding: 45px 15px 105px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: transform 0.6s;
    backface-visibility: hidden;

    // @media #{$breakpoint-xs-only} {
    //   padding: 20px 15px 150px 15px;
    // }
  }

  .flipCard__back {
    position: absolute;
    transform: rotateY(180deg);
  }

  &_height-350 {
    min-height: 350px;
  }

  &.flip {
    .flipCard__back {
      transform: rotateY(0deg);
    }

    .flipCard__front {
      transform: rotateY(180deg);
    } 
  }



  &.noclick:hover {
    .flipCard__front {
      transform: rotateY(180deg);
    }

    .flipCard__back {
      transform: rotateY(0deg);
    }

    &:after {
      transition: background 600ms;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 64px 64px;
      background-image: url('../svg/sprite.svg#arow-round');
    }
  }
}
