<div class="row mb-20 mb-xs-20" id="tabs">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Табы</h1>
    </div>
</div>
<div class="row mb-10 mb-xs-10">
    <div class="col-lg-24 col-xs-12">
        <h3 class="h3">Вертикальные</h3>
    </div>
</div>
<div class="row mb-20 mb-xs-20">
    <div class="col-lg-24 col-xs-12">
        <div class="tab tab_vertical js-tab">
            <ul class="tab__nav">
                <li class="tab__btn active js-tab-link">tab 1</li>
                <li class="tab__btn js-tab-link">tab 2</li>
                <li class="tab__btn js-tab-link">tab 3</li>
                <li class="tab__btn js-tab-link">tab 4</li>
            </ul>
            <div class="tab__items">
                <div class="tab__item js-tab-item">text 1</div>
                <div class="tab__item js-tab-item">text 2</div>
                <div class="tab__item js-tab-item">text 3</div>
                <div class="tab__item js-tab-item">text 4</div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-10 mb-xs-10">
    <div class="col-lg-24 col-xs-12">
        <h3 class="h3">Горизонтальные</h3>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <div class="tab tab_horizontal js-tab">
            <ul class="tab__nav">
                <li class="tab__btn active js-tab-link">tab 1</li>
                <li class="tab__btn js-tab-link">tab 2</li>
                <li class="tab__btn js-tab-link">tab 3</li>
                <li class="tab__btn js-tab-link">tab 4</li>
            </ul>
            <div class="tab__items">
                <div class="tab__item js-tab-item">text 1</div>
                <div class="tab__item js-tab-item">text 2</div>
                <div class="tab__item js-tab-item">text 3</div>
                <div class="tab__item js-tab-item">text 4</div>
            </div>
        </div>
    </div>
</div>
