@import "../../style/_vars";

.bingo-container {

    .bingo-grid {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        // margin: 20px 0;
    
        @media (max-width:719px) {
            // grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            gap: 8px;
        }
    }
    
    .bingo-item {    
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        border: 2px solid $primary;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 50px 10px;
        background-color: $turquoise-2;
        color: $primary;
    
        // &:hover {
        //     border: 2px solid $primary;
        // }
        .icon-checked {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
    }
    
    .bingo-item.selected {
        // border-color: $primary;
        .icon-checked {
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
        }
    }
    
    .bingo-item.correct-feedback {
        background-color: $green-2;
        border-color: $green-2;
        color: $white;
    }
    
    .bingo-item.incorrect-feedback {
        background-color: $red-2;
        border-color: $red-2;
        color: $white;
    }
    
    .bingo-img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .feedback-icon {
        position: absolute;
        top: 10px;
        width: 38px;
        height: 38px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
    
        @media (max-width:719px) {
            top: 0;
        }
    }
    
    .icon {
        &-status {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 4px;
        }
    
        &-default {
            background-color: $white;
            color: #CBDBE3;
            border: 2px solid #CBDBE3;
            transition: all 0.3s ease;
    
            &.hover {
                color: $primary;
                border: 2px solid $primary;
            }
    
            &.select {
                background-color: $primary;
                color: white;
                border: 2px solid $primary;
            }
        }
    
        &-correct {
            // background-color: rgba(41, 149, 39, 1);
            // color: white;
        }
    
        &-incorrect {
            // background-color: rgba(188, 37, 58, 1);
            // color: white;
        }
    }
}

