@import "../../style/_vars";

.test {
    // &__body {
    //     margin-bottom: 30px;
    // }

    // &__contextBlock {
    //     color: white;
    //     background: linear-gradient(101.21deg, #3C2FD0 -12.8%, #9E32F2 190.18%);
    //     border-radius: 10px;
    //     padding: 30px;
    // }

    &__container {
        .radio {
            padding: 15px 0;
            border-bottom: 1px solid rgba(#8E00FE, .1);

            &:first-child {
                border-top: 1px solid rgba(#8E00FE, .1);
            }

            @media (max-width: 719px) {
                padding: 10px 0;
            }
        }
        .checkbox {
            padding: 15px 0;
            margin: 0;
            border-bottom: 1px solid rgba(#8E00FE, .1);

            &:first-child {
                border-top: 1px solid rgba(#8E00FE, .1);
            }

            @media (max-width: 719px) {
                padding: 10px 0;
            }
        }
    }

    &__answer {
        border-bottom: 1px solid rgba($gray-3, 1);
        padding: 5px 0;

        &:first-child {
            border-top: 1px solid rgba($gray-3, 1);
        }

        input {
            display: none;
        }
    }
}
