<div class="row mb-20 mb-xs-20" id="checkbox">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Checkbox</h1>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <div class="checkbox">
            <input id="c1" type="checkbox" checked>
            <label for="c1">Item 1</label>
        </div>
        <div class="checkbox">
            <input id="c2" type="checkbox">
            <label for="c2">Item 2</label>
        </div>
    </div>
</div>
