<div class="row mb-20 mb-xs-20" id="btn">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Кнопки</h1>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <button class="btn">
            <span class="btn_text text-s">Default</span>
        </button>
        <button class="btn btn_white">
            <span class="btn_text text-m">Default</span>
        </button>
        <button class="btn btn_border">
            <span class="btn_text text-m">Default</span>
        </button>
        <button class="btn btn_splash">
            <span class="btn_text text-m">Default</span>
        </button>
        <button class="btn">
            <span class="btn_text text-l">Default</span>
        </button>
    </div>
</div>
