@charset "UTF-8";

@font-face {
  font-family: "PT-Root-UI_Bold";
  src: url("../fonts/PT-Root-UI_Bold.woff2") format("woff2"), url("../fonts/PT-Root-UI_Bold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI_Medium";
  src: url("../fonts/PT-Root-UI_Medium.woff2") format("woff2"), url("../fonts/PT-Root-UI_Medium.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI_Regular";
  src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2"), url("../fonts/PT-Root-UI_Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@-webkit-keyframes showSearch {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes showSearch {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes hideElem {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hideElem {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header {
  position: relative;
  padding-top: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e6e6e6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__logos--logo_e {
  width: 35px;
  height: 35px;
}

.header__logos--logo_m {
  width: 40px;
  height: 40px;
}

.header__title {
  font-size: 14px;
  line-height: 21px;
}

.header__mob {
  display: none;
  padding: 5px 0;
  font-size: 10px;
  line-height: 14px;
  background-color: #f9f9f9;
}

.header::after {
  content: "";
  width: 207px;
  height: 3px;
  background-color: #d70e2a;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.hamburger-menu {
  width: 32px;
  height: 32px;
  position: relative;
}

#menu__toggle {
  height: 0;
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__btn {
  position: absolute;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 16px;
  padding: 8px 4px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d70e2a;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before,
.menu__btn > span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d70e2a;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  top: -7px;
}

.menu__btn > span::after {
  top: 7px;
}

@-webkit-keyframes showElem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showElem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  color: #000000;
  font-family: "PT-Root-UI_Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

ul {
  list-style: none;
}

a,
button,
input {
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

picture,
img,
svg {
  display: block;
}

svg {
  max-width: 100%;
}

img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
input {
  border: none;
  background: transparent;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  min-width: 290px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_title {
  padding: 40px 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
}

.article__title {
  font-size: 30px;
  line-height: 40px;
}

.dezign {
  padding-bottom: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.dezign__title {
  padding-top: 40px;
  padding-bottom: 54px;
}

.dezign__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.dezign__card {
  width: calc((100% - 60px) / 4);
  border-radius: 5px;
  line-height: 24px;
  background-position: center 0;
  background-repeat: no-repeat;
}

.dezign__card-content {
  padding-top: 20px;
}

.dezign__card-content--linedark {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dezign__card-content--linelight {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.dezign__card--first {
  max-height: 304px;
  padding: 133px 15px 24px 15px;
  background-image: url("../img/dezign/banner_galaxy-s10.png");
  background-position: center 20px;
  background-color: #171717;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.dezign__card--second {
  padding-top: 205px;
  background-image: url("../img/dezign/Group 2.png");
}

.dezign__card--colours {
  padding-top: 60px;
  background-image: url("../img/dezign/colours_s10.svg");
}

.dezign__card--gglass {
  padding-top: 60px;
  background-image: url("../img/dezign/gorilla_glass.png");
}

.scanner {
  padding-bottom: 100px;
}

.scanner__title {
  padding-top: 40px;
  padding-bottom: 50px;
}

.scanner__title::before {
  content: "Сканер отпечатка в экране";
}

.scanner__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.scanner__column {
  width: calc((100% - 20px) / 2);
}

.scanner__img {
  width: 100%;
}

.scanner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.scanner__card {
  padding-left: 122px;
  background-position: 0 center;
  background-repeat: no-repeat;
}

.scanner__card-content {
  line-height: 24px;
}

.scanner__card--play {
  background-image: url("../img/svg/scanner/play.svg");
}

.scanner__card--camera {
  background-image: url("../img/svg/scanner/camera.svg");
}

.scanner__card--circles {
  background-image: url("../img/svg/scanner/circles.svg");
}

.accessories {
  padding-bottom: 61px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.accessories__title {
  padding-bottom: 53px;
}

.accessories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.accessories__card {
  position: relative;
  width: calc((100% - 60px) / 4);
}

.accessories__card:nth-last-child(-n+2)::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
}

.accessories__card-content {
  line-height: 24px;
}

.accessories__card-content--changeText::before {
  content: "Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.";
}

.accessories__card--img {
  padding-top: 140px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.accessories__card--img-first {
  background-image: url("../img/accessories/galaxy-s10_cases.png");
}

.accessories__card--img-second {
  background-image: url("../img/accessories/galaxy-s10_power.png");
}

.accessories__card-content {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.apps {
  padding-bottom: 100px;
}

.apps__title {
  padding-top: 40px;
  padding-bottom: 49px;
}

.apps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: -30px;
}

.apps__card {
  width: calc((100% - 40px) / 3);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 105px 60px;
  padding-top: 80px;
  margin-bottom: 30px;
}

.apps__card--switch {
  background-image: url("../img/sprite.svg#services--s");
}

.apps__card--health {
  background-image: url("../img/sprite.svg#services--run");
}

.apps__card--bixby {
  background-image: url("../img/sprite.svg#services--bixby");
}

.apps__card--pay {
  background-image: url("../img/sprite.svg#services--pay");
}

.apps__card--things {
  background-image: url("../img/sprite.svg#services--things");
}

.apps__card-content {
  line-height: 24px;
}

@media (max-width: 768px) {
  .header::after {
    width: 149px;
  }

  .dezign__title {
    padding: 40px 0;
  }

  .dezign__list {
    margin-bottom: -30px;
  }

  .dezign__card {
    width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }

  .dezign__card-content {
    font-size: 14px;
    line-height: 21px;
  }

  .dezign__card--first {
    background-image: url("../img/dezign/banner_galaxy-s10-720.png");
    max-height: none;
    padding: 204px 15px 25px 15px;
    background-position: center 20px;
  }

  .dezign__card--second {
    padding-top: 205px;
    background-image: url("../img/dezign/Group 2.png");
  }

  .dezign__card--colours {
    padding-top: 60px;
    background-image: url("../img/dezign/colours_s10.svg");
  }

  .dezign__card--gglass {
    padding-top: 60px;
    background-image: url("../img/dezign/gorilla_glass.png");
  }

  .scanner__title::before {
    content: "Съемка видео";
  }

  .scanner__card-content {
    font-size: 14px;
    line-height: 21px;
  }

  .accessories__title {
    padding-bottom: 40px;
  }

  .accessories__list {
    margin-bottom: -30px;
  }

  .accessories__card {
    width: calc((100% - 20px) / 2);
    margin-bottom: 30px;
  }

  .accessories__card-content {
    font-size: 14px;
    line-height: 21px;
  }

  .accessories__card-content--changeText::before {
    content: "Обширный ассортимент чехлов для каждой модели. Цветовая гамма,отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.";
  }

  .accessories__card--img {
    padding-top: 193px;
  }

  .apps__card {
    margin-bottom: 20px;
  }

  .apps__card-content {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 8px 0;
  }

  .header__title {
    display: none;
  }

  .header::after {
    display: none;
  }

  .header__logos {
    gap: 15px;
  }

  .header__logos--logo_e {
    width: 25px;
    height: 25px;
  }

  .header__logos--logo_m {
    width: 30px;
    height: 30px;
  }

  .header__mob {
    display: block;
  }

  .container {
    padding: 0 15px;
  }

  .section_title {
    padding: 30px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .article__title {
    font-size: 22px;
    line-height: 31px;
  }

  .dezign {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .dezign__title {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .dezign__list {
    gap: 0;
    margin-bottom: -40px;
  }

  .dezign__card {
    margin-bottom: 40px;
  }

  .dezign__card-content {
    font-size: 12px;
    line-height: 17px;
  }

  .dezign__card-content--linelight,
  .dezign__card-content--linedark {
    font-size: 14px;
    line-height: 21px;
  }

  .dezign__card--first {
    width: 100%;
    background-image: url("../img/dezign/banner_galaxy-s10-320.png");
    padding: 177px 15px 26px 15px;
  }

  .dezign__card--second {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .dezign__card--colours {
    width: calc((100% - 8px) / 2);
  }

  .dezign__card--gglass {
    width: calc((100% - 8px) / 2);
  }

  .scanner {
    padding-bottom: 40px;
  }

  .scanner__title {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .scanner__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .scanner__column {
    width: 100%;
  }

  .scanner__img {
    min-height: 170px;
  }

  .scanner__list {
    gap: 30px;
  }

  .scanner__card {
    padding-left: 0;
    padding-top: 80px;
    background-position: center 0;
  }

  .accessories {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .accessories__title {
    padding-bottom: 30px;
  }

  .accessories__list {
    gap: 0;
    margin-bottom: -40px;
  }

  .accessories__card {
    margin-bottom: 40px;
  }

  .accessories__card--img {
    width: 100%;
    padding-top: 175px;
  }

  .accessories__card-content--changeText2::before {
    content: "Беспроводная зарядная станция Duo Pad быстро заряжает одновременно два устройства, одно из которых охлаждается.";
  }

  .accessories__card:nth-last-child(-n+2) {
    width: calc((100% - 8px) / 2);
  }

  .accessories__card:nth-last-child(-n+2) > p {
    font-size: 12px;
    line-height: 17px;
  }

  .apps {
    padding-top: 19px;
  }

  .apps__title {
    padding: 0;
  }

  .apps__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
  }

  .apps__card {
    margin-bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100px 70px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .apps__card:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .apps__card:nth-child(2n+1) {
    padding-left: 85px;
    background-position: -13px center;
  }

  .apps__card:nth-child(2n) {
    padding-right: 100px;
    background-position: right center;
  }

  .apps__card-content {
    font-size: 12px;
    line-height: 17px;
  }
}