<div class="intro-full-screen">
    <div class="page-scroll container-scroll js-container-scroll js-container-scroll_intro pos-a" style="height: calc(100vh)">
        <!-- Вращающееся фоновое изображение -->
        <div class="rotating-bg">
            <img src="user/img/img-splash-vortex.png" alt="" class="img-vortex" id="rotating-image">
        </div>
        
        <!-- Текстовые блоки -->
        <section class="text-section text-white" >
            <div class="intro-text-block">
                <div class="intro-text-babble">
                    <p class="text-xl">
                        Представь: что если за&nbsp;гранью нашего мира лежит бескрайнее количество других реальностей?
                    </p>
                </div>
            </div>
        </section>
        <section class="text-section text-white" >
            <div class="intro-text-block">
                <div class="intro-text-babble">
                    <p class="text-xl">
                        Там, в&nbsp;параллельных измерениях, живут и&nbsp;дышат бесконечные версии нас самих, где каждая из&nbsp;них может быть человеком совершенно иной профессии, проживая уникальную жизнь.
                    </p>
                </div>
            </div>
        </section>
        <section class="text-section text-white" >
            <div class="intro-text-block">
                <div class="intro-text-babble">
                    <p class="text-xl">
                        У&nbsp;Даши и&nbsp;Жени тоже есть свои альтернативные версии...
                    </p>
                </div>
            </div>
        </section>
        <section class="text-section text-white" >
            <div class="intro-text-block">
                <div class="intro-text-babble mb-20 mb-xs-20">
                    <p class="text-xl">
                        Похоже, одна из&nbsp;них хочет связаться с&nbsp;тобой!
                    </p>
                </div>
                <div class="intro-text-babble">
                    <img src="user/img/img-mail-noread.svg">
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    fastGsapAnimate(false);
</script>