.container-scroll {
    .ps {
        &__rail-y {
            opacity: 1;
            z-index: 15;
        }
    }

}

body.modal-open {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
