@import "_vars";

body {
  font-family: $Regular;
  margin: 0;
}

.guideline-grid .row {
  border-top: 1px solid #d2d2d2
}

.guideline-grid .row:last-child {
  border-bottom: 1px solid #d2d2d2
}

.guideline-grid .col {
  color: #969696;
  background: #f5f5f5;
  border-left: 1px solid #d2d2d2
}

.guideline-grid .col p {
  text-align: center;
  background: transparent !important;
  padding: 7px !important
}

.guideline-grid .col:last-child {
  border-right: 1px solid #d2d2d2
}
