@import "../../style/_vars";

.draggable-sides {
    &__container {
        display: flex;
        margin-bottom: 30px;
        position: relative;

        &.disable {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
            }
        }
    }

    &__text {
        width: 50%;
        padding: 20px 0;
        text-align: center;
        border: 1px solid rgba($blue, 1);
        background-color: rgba($white, 1);
        cursor: grab;
        top: 0 !important;

        &.correct {
            color: rgba($white, 1);
            border-color: rgba($green, 1);
            background-color: rgba($green, 1);
        }

        &.incorrect {
            color: rgba($white, 1);
            border-color: rgba($red, 1);
            background-color: rgba($red, 1);
        }
    }

    &__item {
        width: 25%;
        padding: 20px 0;
        text-align: center;
        background-color: rgba($blue, 1);
        color: rgba($white, 1);
    }
}
