@import "../../style/_vars";

.test {
    &__body {
        margin-bottom: 60px;
    }

    &__contextBlock {
        color: white;
        background: linear-gradient(101.21deg, #3C2FD0 -12.8%, #9E32F2 190.18%);
        border-radius: 20px;
        padding: 25px 30px;

        &.exercise {
          background: url('../img/exercise-bg.png') no-repeat;
          background-size: cover;

          &.tall {
            background: url('../img/exercise-tall-bg.png') no-repeat;
            background-size: cover;

              @media #{$breakpoint-xs-only} {
              background: url('../img/exercise-tall-bg-xs.png') no-repeat;  
              background-size: cover;
            }
          }

          @media #{$breakpoint-xs-only} {
            flex-direction: column;
            background: url('../img/exercise-bg-xs.png') no-repeat;  
            background-size: 100% 100%;    
            padding: 25px 15px 30px 15px;
            margin: 0 -7.5px;
          }
        }
    }

    &__container {
      padding: 0 30px;

       @media #{$breakpoint-xs-only} {
        padding: 0 15px;
       }

        .radio {
            padding: 15px 0;
            border-bottom: 1px solid rgba(#8E00FE, .1);

            &:first-child {
                border-top: 1px solid rgba(#8E00FE, .1);
            }

            @media (max-width: 719px) {
                padding: 10px 0;
            }
        }

        .radio.questionnaire {
          border: none;

          &:first-child {
            border-top: none;
          }

          label {
            width: 100%;
            text-align: center;
            padding: 20px;
            border-radius: 15px;
            background: #F9F2FF;

            &:before,
            &:after {
              content: none;
            }
          }

          input[type="radio"]:checked+label,  
          input[type="radio"]:hover+label { 
            background: #E8CCFF;
          }
          // input[type="radio"] {
          // display: none;

          // &:checked {}

        }

        .checkbox {
            padding: 15px 0;
            margin: 0;
            border-bottom: 1px solid rgba(#8E00FE, .1);

            &:first-child {
                border-top: 1px solid rgba(#8E00FE, .1);
            }

            @media (max-width: 719px) {
                padding: 10px 0;
            }
        }
    }

    &__answer {
        border-bottom: 1px solid rgba($gray-3, 1);
        padding: 5px 0;

        &:first-child {
            border-top: 1px solid rgba($gray-3, 1);
        }

        input {
            display: none;
        }
    }
}


