@import "./reset.scss";

@import "./mixins/fonts-mixins";

@import "./mixins/margins-paddings-radius-name";

@import "./mixins/bg-color";

// Margins
@import "./margin";

// border-radius
@import "./border-radius";

// Paddings
@import "./padding";

// bg color
@import "./bg-color";
