<div class="row mb-20 mb-20" id="accordion">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Аккордион</h1>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <div class="mb-30 mb-xs-30">
            <div class="accordion js-accordion">
                <div class="accordion__item">
                    <div class="accordion__title">Accordion Item #1</div>
                    <div class="accordion__container">
                        <div class="accordion__content">Anim pariatur cliche reprehenderit, enim
                            eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.</div>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__title">Accordion Item #2</div>
                    <div class="accordion__container">
                        <div class="accordion__content">Anim pariatur cliche reprehenderit, enim
                            eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__title">Accordion Item #3</div>
                    <div class="accordion__container">
                        <div class="accordion__content">Anim pariatur cliche reprehenderit, enim
                            eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-30">
            <div class="accordion js-accordion" data-collapse="true">
                <div class="accordion__item">
                    <div class="accordion__title">Accordion Item #1</div>
                    <div class="accordion__container">
                        <div class="accordion__content">Anim pariatur cliche reprehenderit, enim
                            eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.</div>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__title">Accordion Item #2</div>
                    <div class="accordion__container">
                        <div class="accordion__content">Anim pariatur cliche reprehenderit, enim
                            eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.</div>
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="accordion__title">Accordion Item #3</div>
                    <div class="accordion__container">
                        <div class="accordion__content">Anim pariatur cliche reprehenderit, enim
                            eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                            accusamus labore sustainable VHS.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
