<div class="row mb-20 mb-xs-20" id="radio">
    <div class="col-lg-24 col-xs-12">
        <h1 class="h1">Radio кнопки</h1>
    </div>
</div>
<div class="row mb-60 mb-xs-30">
    <div class="col-lg-24 col-xs-12">
        <div class="radio">
            <input id="1" type="radio" name="option-1" checked>
            <label for="1">Option 1</label>
        </div>
        <div class="radio">
            <input id="2" type="radio" name="option-1">
            <label for="2">Option 2</label>
        </div>
    </div>
</div>
